//COLORS 
$title-color: #22bc6f;
$section-color: #c4c1b9;
$fonts-color: #7a7878;
$block-color: #fffafa;


// FONTS
// font-family
$global-font: 'Roboto';

// font-size


// CONTAINER
$max-width: 1024px;

// media-containers
$screens: (
    laptop: 1024px,
    tablet: 768px,
    phone: 425px
);